.form-content{
    padding: 5rem 2rem;
    background: linear-gradient(90deg, #57D7E1 0%, #0A4EAF 100%);
    position: relative;
}

.form-content p{
    font-size: 1.3rem;
    text-align: center;
}
.form-content form{
    max-width: 38rem;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    gap: 3rem;
    background: rgba(188, 195, 195, 0.235);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    position: relative;
    z-index: 100;
}
.form-content input,
.form-content textarea{
    width: 90%;
    height: 2rem;
    padding: 20px 10px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.17);
    outline: none;
    font-size: 1rem;
}
.form-content input::placeholder,
.form-content textarea::placeholder{
    color: rgba(0, 0, 0, 0.583);
}

.form-content select{
    border: 1px solid black;
    background: transparent;
    text-align: center;
}

.form-content .canciones {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-content .canciones .cancion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form-content .canciones .cancion input,
.form-content .canciones .cancion textarea{
    width: 90%;
}

.form-content h3{
    text-align: center;
    width: 100%;
}

.form-content .canciones textarea{
    height: 80px;
    max-width: 100%;
    max-height: 100px;
    min-width: 50%;
    min-height: 50px;
}
.form-content .trayectoria{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form-content .trayectoria label{
    text-align: center;
}

.form-content .trayectoria textarea{
    height: 100px;
    max-width: 100%;
    max-height: 150px;
    min-width: 50%;
    min-height: 50px;
}

.form-content .tipo-de-participante{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-content .tipo-de-participante label{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    line-height: 2;

}
.form-content .tipo-de-participante input{
    width: 20px;
    margin: 0 10px;
}

.form-content .grupal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.form-content .grupal .integrantes{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-content .grupal .integrantes .integrante{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-content .grupal .trayectoria label{
    text-align: center;
    width: 90%;
}

.form-content button{
    background-color: #0A4EAF;
    border: none;
    width: 200px;
    height: 60px;
    padding: 13px 0;
    border-radius: 10px;
    box-shadow: 0 3px 10px 2px  rgba(45, 108, 210,0.5);
    font-size: 1.5rem;
    font-family: "Baumans";
    color: #fff;
    transition: all 0.1s ease;
}

.form-content button:hover{
    background-color: #2d6cd2;
    transform: scale(1.02);
}

.form-content img{
    position: absolute;
    width: 8%;
    min-width: 80px;
    z-index: 10;
}

.form-content img:nth-child(1){
    top: 30px;
    transform: rotate(22deg);
}

.form-content img:nth-child(2){
    bottom: 35%;
    left: 23%;
    transform: rotate(22deg);
}
.form-content img:nth-child(3){
    bottom: 20%;
    right: 10%;
    transform: rotate(22deg);
}

.form-content img:nth-child(4){
    top: 10%;
    right: 10%;
    transform: rotate(-22deg);
}

.form-content img:nth-child(5){
    top: 35%;
    right: 23%;
    transform: rotate(22deg);
}

.form-content img:nth-child(6){
    bottom: 10%;
    transform: rotate(22deg);
}

@media screen and (min-width: 200px) and (max-width: 760px){
    .form-content{
        padding: 5rem 0;
    }

    .form-content img:nth-child(1), .form-content img:nth-child(4), .form-content img:nth-child(6), .form-content img:nth-child(5),.form-content img:nth-child(2){
      display: none;
    }

}

